
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/fontEnd/css/style.css")" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <div class="wrapperArtis">
        <div class="divArtis">
            <div class="divArtisAvt" style="background-image: url('../img/9f6af319cca12592429974025be2ce72.jpg');"></div>
            <h3 class="divArtisName">
                <span class="artisName">YOASOBI</span>
            </h3>
            <button class="divBtnPlay">
                <div class="btnArt playArt">
                    <i class="fa-solid fa-play"></i>
                </div>
                <div class="btnArt pauseArt">
                    <i class="fa-solid fa-pause"></i>
                </div>
            </button>

        </div>
        <div class="actionContro">
            <button class="divBtnPlay">
                <div class="btnArt playArt">
                    <i class="fa-solid fa-play"></i>
                </div>
                <div class="btnArt pauseArt">
                    <i class="fa-solid fa-pause"></i>
                </div>
            </button>
        </div>
        <div class="headingColum grid-template-column">
            <div class="div#">
                <span>#</span>
            </div>
            <div class="theloai">
                <span>Tiêu đề</span>
            </div>
            <div class="timeLogo">
                <div class="thoiluong">
                    <svg data-encore-id="icon" role="img" aria-hidden="true" viewBox="0 0 16 16" class="Svg-sc-ytk21e-0 dYnaPI"><path d="M8 1.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"></path><path d="M8 3.25a.75.75 0 0 1 .75.75v3.25H11a.75.75 0 0 1 0 1.5H7.25V4A.75.75 0 0 1 8 3.25z"></path></svg>
                </div>
            </div>
        </div>
        <div class="divListsong">
            <div class="listSong">
                <div class="songItem grid-template-column">
                    <div class="songItem-index">
                        <span>1</span>
                    </div>
                    <div class="songItem-text">
                        <div class="divSongItem-text">
                            <span>Nếu Những Tiếc Nuối</span>
                            <span class="nameArts">Vũ.</span>
                        </div>
                    </div>
                    <div class="songItem-time">
                        <span>4:20</span>
                    </div>
                </div>


            </div>
        </div>

    </div>




    
    <script>



    </script>
       

</body>


</html>
