<div class="detailTypes-wrapper">
    <div class="div-detail-types">
        <div class="detail-left">
            <img src="~/Content/types/vpop.jpg" />
            <span class="detail-type-name">V-Pop Debut Song</span>
            <div class="detail-left-action">
                <button class="detail-left-btn">
                    <i class="pause fa-solid fa-pause"></i>
                    <i class="play fa-solid fa-play"></i>
                    Tiếp tục phát
                </button>
            </div>
        </div>
        <div class="detail-right">
            <div class="select-header">
                <div class="select-left">
                    <span>Bài Hát</span>
                </div>
                <div class="select-center">
                    <span>Ca sĩ</span>
                </div>
                <div class="select-right">
                    <span>Thời gian</span>
                </div>
            </div>
            <div class="select-list">
                <div class="select-item">
                    <div class="selec-item-left">
                        <img src="~/Content/singer/puppy.jpg" />
                        <span>Wrong Times</span>
                    </div>
                    <div class="select-item-center">
                        <span>YoungPuppy</span>
                    </div>
                    <div class="select-item-right">
                        04.35
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<>
