
    @{
        Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
    }

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/fontEnd/css/style.css")" />
    <div class="wrapperSectionHeading">
        <a class="sectionLink">
            <h2 class="sectionLinkH2">Danh Sách Thể loại </h2>
        </a>

    </div>
    <div class="wrapperSectionBody_playlist">

        <div class="SectionItem">
            <div class="SectionItemImg-Artis_playlist">
                <img src="~/img/8640d841ca6413b752227781f6e9d8c3.jpg" alt="item" />
            </div>
            <div class="SectionItemIcon"></div>
            <div class="SectionItemTextArt">
                <h3 class="SectionItemTextName">Nguyễn Văn Kiên</h3>
                <div class="SectionItemTextDes">
                    <a href="#" class="SectionItemTextDesLink">Artis</a>
                </div>
            </div>
        </div>
        <div class="SectionItem">
            <div class="SectionItemImg-Artis_playlist">
                <img src="~/img/8640d841ca6413b752227781f6e9d8c3.jpg" alt="item" />
            </div>
            <div class="SectionItemIcon"></div>
            <div class="SectionItemTextArt">
                <h3 class="SectionItemTextName">Nguyễn Văn Kiên</h3>
                <div class="SectionItemTextDes">
                    <a href="#" class="SectionItemTextDesLink">Artis</a>
                </div>
            </div>
        </div>
        <div class="SectionItem">
            <div class="SectionItemImg-Artis_playlist">
                <img src="~/img/8640d841ca6413b752227781f6e9d8c3.jpg" alt="item" />
            </div>
            <div class="SectionItemIcon"></div>
            <div class="SectionItemTextArt">
                <h3 class="SectionItemTextName">Nguyễn Văn Kiên</h3>
                <div class="SectionItemTextDes">
                    <a href="#" class="SectionItemTextDesLink">Artis</a>
                </div>
            </div>
        </div>
        <div class="SectionItem">
            <div class="SectionItemImg-Artis_playlist">
                <img src="~/img/8640d841ca6413b752227781f6e9d8c3.jpg" alt="item" />
            </div>
            <div class="SectionItemIcon"></div>
            <div class="SectionItemTextArt">
                <h3 class="SectionItemTextName">Nguyễn Văn Kiên</h3>
                <div class="SectionItemTextDes">
                    <a href="#" class="SectionItemTextDesLink">Artis</a>
                </div>
            </div>
        </div>
        <div class="SectionItem">
            <div class="SectionItemImg-Artis_playlist">
                <img src="~/img/8640d841ca6413b752227781f6e9d8c3.jpg" alt="item" />
            </div>
            <div class="SectionItemIcon"></div>
            <div class="SectionItemTextArt">
                <h3 class="SectionItemTextName">Nguyễn Văn Kiên</h3>
                <div class="SectionItemTextDes">
                    <a href="#" class="SectionItemTextDesLink">Artis</a>
                </div>
            </div>
        </div>
        <div class="SectionItem">
            <div class="SectionItemImg-Artis_playlist">
                <img src="~/img/8640d841ca6413b752227781f6e9d8c3.jpg" alt="item" />
            </div>
            <div class="SectionItemIcon"></div>
            <div class="SectionItemTextArt">
                <h3 class="SectionItemTextName">Nguyễn Văn Kiên</h3>
                <div class="SectionItemTextDes">
                    <a href="#" class="SectionItemTextDesLink">Artis</a>
                </div>
            </div>
        </div>
        <div class="SectionItem">
            <div class="SectionItemImg-Artis_playlist">
                <img src="~/img/8640d841ca6413b752227781f6e9d8c3.jpg" alt="item" />
            </div>
            <div class="SectionItemIcon"></div>
            <div class="SectionItemTextArt">
                <h3 class="SectionItemTextName">Nguyễn Văn Kiên</h3>
                <div class="SectionItemTextDes">
                    <a href="#" class="SectionItemTextDesLink">Artis</a>
                </div>
            </div>
        </div>
        <div class="SectionItem">
            <div class="SectionItemImg-Artis_playlist">
                <img src="~/img/8640d841ca6413b752227781f6e9d8c3.jpg" alt="item" />
            </div>
            <div class="SectionItemIcon"></div>
            <div class="SectionItemTextArt">
                <h3 class="SectionItemTextName">Nguyễn Văn Kiên</h3>
                <div class="SectionItemTextDes">
                    <a href="#" class="SectionItemTextDesLink">Artis</a>
                </div>
            </div>
        </div>











    </div>

    <script>
    $.ajax({
    url: '@Url.Action("getAllType", "Home")',
    type: 'GET',
    dataType: 'json',
    success: function (data) {
        var $playlist_body = $('.wrapperSectionBody_playlist').eq(0);

        $playlist_body.empty();
        var types = data.Types;
        types.forEach(function (type) {
            var playlistItem = `
                <div class="SectionItem" oncontextmenu="showContextMenu(event, ${type.ID_Type}, '${type.TypeName}')">
                    <div class="SectionItemImg-Artis_playlist">
                        <img src=" ${type.Path_Type}" alt="item" />
                    </div>
                    <div class="SectionItemTextArt">
                        <h3 class="SectionItemTextName">${type.TypeName}</h3>
                    </div>
                </div>
            `;

            var $playlistItem = $(playlistItem);

            $playlistItem.click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: '@Url.Action("DetailType", "Library")',
                    type: 'GET',
                    data: { id_type: type.ID_Type },
                    success: function (response) {
                        $('#divBodyContent').html(response);
                        history.pushState(null, '', '/Type/' + type.TypeName);
                    },
                    error: function () {
                        alert('Lỗi khi tải chi tiết playlist.');
                    }
                });
            });


            $playlist_body.append($playlistItem);
        });
    },
    error: function (error) {
        alert("Lỗi load");
    }
});




    </script>
    <style>
    </style>
