@{



}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>@ViewBag.Title</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>
<body>


    <div class="playsong">
        <img src="~/img/playsong/previous.png" id="previous" />
        <img src="~/img/playsong/play.png" id="plays" />
        <img src="~/img/playsong/pause.png" id="pause" />
        <img src="~/img/playsong/next.png" id="nexts" />
    </div>

    <div class="songprogress">
        <span id="currentTime">00:00</span>
        <input type="range" id="timeUpdate" min="0" max="100" step="1" value="0">
        <span id="songTime">00:00</span>
    </div>

    <div class="additional_1">
        <img src="~/img/playsong/reload.png" id="reloads" />
        <img src="~/img/playsong/reloads2.png" id="reloads2" />
    </div>

    <div class="additional_2">
        <img src="~/img/playsong/volume-up.png" id="volume-up" />
        <input type="range" id="volume" min="0" max="1" step="0.01" value="0.3">
    </div>

    <div class="additional_3">
        <div id="ImgOfSong"></div>
        <div class="Infor"></div>
    </div>

    <div class="toolbar">
        <a href="#home">Home</a>
        <a href="#yourPlaylist">Your Playlists</a>
        <a href="#Songs">Songs </a>
        <input type="text" name="name" placeholder=" Search" />
    </div>

    <style>
        .playsong {
            padding-top: 0.8%;
            background-color: #000000;
            position: fixed;
            bottom: 4%;
            width: 100%;
            height: 6%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2%;
        }

        #previous {
            height: 70%;
        }

        #nexts {
            height: 70%;
        }

        #plays {
            height: 100%;
        }

        #pause {
            height: 100%;
        }

        #hover {
            right: 0%;
        }

        #pause {
            display: none;
        }

        .songprogress {
            background-color: #000000;
            position: fixed;
            bottom: 0%;
            width: 100%;
            height: 4%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1%
        }

        span {
            color: white;
        }

        #timeUpdate {
            width: 50%
        }


        .additional_1 {
            padding-top: 0.8%;
            background-color: #000000;
            position: fixed;
            right: 38%;
            bottom: 4%;
            width: 6%;
            height: 6%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #reloads {
            height: 70%
        }

        #reloads2 {
            height: 70%;
            display: none;
        }

        .additional_2 {
            padding-top: 0.8%;
            background-color: #000000;
            position: fixed;
            right: 28%;
            bottom: 5.5%;
            width: 12%;
            height: 3%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #volume {
            height: 25%;
            width: 40%;
        }

        #volume-up {
            height: 130%;
        }
        .additional_3 {
            
            background-color: black;
            position: fixed;
            bottom: 4%;
            width: 30%;
            left: 1.4%;
            height: 6%;
            display: flex;

            align-items: center;
            gap: 2%;
        }
       
        #ImgOfSong {
            width: 10%;
            height: 100%;
            background-color: blue;
        }
        .Infor {
            width: 88%;
            height: 100%;
            background-color: yellow;
            position: relative;
            display: block
        }
        .toolbar {
            background-color: #000000;
            overflow: hidden;
            top: 0;
            position: fixed;
            width: 100%;
        }

            .toolbar a {
                float: left;
                display: block;
                color: white;
                text-align: center;
                padding: 30px 30px;
                text-decoration: none;
            }

                .toolbar a:hover {
                    background-color: #ddd;
                    color: black;
                }

            .toolbar input {
                width: 500px;
                height: 40px;
                float: left;
                margin-left: 50px;
                margin-top: 15px;
                border-radius: 10px;
            }


        body {
            font-family: Arial, sans-serif;
        }
    </style>
    <h1>?</h1>


    @RenderBody()




    <audio id="myAudio">
        <source src="" type="audio/mpeg" />


    </audio>


    <script>

        var lengthPlaylist = 2;

        var audio = document.getElementById("myAudio");
        var play_bt = document.getElementById("plays");
        var pause_bt = document.getElementById("pause");
        var previous_bt = document.getElementById("previous");
        var next_bt = document.getElementById("nexts");
        var currentTime = document.getElementById("currentTime");
        var songTime = document.getElementById("songTime");
        var progressBar = document.getElementById("timeUpdate");
        var loop = document.getElementById("reloads");
        var loop2 = document.getElementById("reloads2");
        var volume = document.getElementById("volume");

        var check_loop = false;

         const listsong = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ListSongs));

        var index = 0;

        function loadsong(index) {

            audio.src =listsong[index].PathSongs
            console.log(listsong[index].PathSongs)
            audio.load();
            audio.currentTime = 0.1;

        }
        loadsong(0);

        $(document).ready(function () {

            $("#plays").click(function () {

                audio.play();

            });

            $("#pause").click(function () {

                audio.pause();


            });

            $('#timeUpdate').on('input', function () {
                let value = progressBar.value;

                console.log("Giá trị hiện tại:", value);

                var x = (value * audio.duration) / 100

                audio.currentTime = x;

            });

            $("#volume").on('input', function () {
                let value = volume.value;

                console.log("Giá trị hiện tại:", value);



                audio.volume = value;


            });

            $("#previous").click(function () {

                index = index - 1;

                if (index < 0) {

                    if (audio.currentTime <= 1) {

                        index = lengthPlaylist;
                        loadsong(index);
                        audio.play();
                    }

                    else {
                        index = 0;
                        loadsong(index);
                        audio.play();
                    }




                }
                else {
                    if (audio.currentTime <= 1) {


                        loadsong(index);
                        audio.play();
                    }

                    else {
                        index = index + 1;
                        loadsong(index);
                        audio.play();
                    }


                }


            });

            $("#nexts").click(function () {

                index = index + 1;

                if (index >= lengthPlaylist) {

                    index = 0;
                    loadsong(0);
                    audio.play()

                }
                else {
                    loadsong(index);
                    audio.play();
                }


            });


            $("#reloads").click(function () {


                    check_loop = true; console.log(check_loop)

                    loop2.style.display = "block";
                    loop.style.display = "none";


            });

            $("#reloads2").click(function () {


                check_loop = false; console.log(check_loop)

                loop2.style.display = "none";
                loop.style.display = "block";


            });




        });











        audio.onplay = function() {

            play_bt.style.display ="none"




            pause_bt.style.display = "block";


        }

        audio.onpause = function () {

            pause_bt.style.display="none"

            play_bt.style.display="block"
        }


        function formatTime(seconds) {
            const minutes = Math.floor(seconds / 60);
            const secs = Math.floor(seconds % 60);
            const formattedSecs = secs < 10 ? '0' + secs : secs;
            return `${minutes}:${formattedSecs}`;
        }





        audio.ontimeupdate = function () {


            currentTime.textContent = formatTime(audio.currentTime);

            var percent = (audio.currentTime / audio.duration) * 100;
            //console.log(percent + " %");


            progressBar.value = percent;


        }




        audio.onloadedmetadata = function () {
            songTime.textContent = formatTime(audio.duration);
            //console.log(formatTime(audio.duration));
        };


        audio.onended = function () {


            console.log("check_loop :"+ check_loop);
            if (check_loop == true) {

                loadsong(index);
                audio.play();


            }
            else if (index >= lengthPlaylist) {
                console.log(index);
                index = 0;


                loadsong(index);
                audio.play();

            }


            else {
                index = index + 1;
                loadsong(index);
                audio.play();
                console.log("index :" + index);

            }



        }















    </script>






</body>
</html>