
    <div class="wrapperSectionHeading">
        <a class="sectionLink">
            <h2 class="sectionLinkH2">Danh Sách Playlist </h2>
        </a>
        
    </div>
    <div class="wrapperSectionBody_playlist">
        <div class="SectionItem">
            <div class="SectionItemImg-Artis_playlist">
                <img src="~/img/8640d841ca6413b752227781f6e9d8c3.jpg" alt="item" />
            </div>
            <div class="SectionItemIcon"></div>
            <div class="SectionItemTextArt">
                <h3 class="SectionItemTextName">Nguyễn Văn Kiên</h3>
                <div class="SectionItemTextDes">
                    <a href="#" class="SectionItemTextDesLink">Artis</a>
                </div>
            </div>
        </div>
        <div class="SectionItem">
            <div class="SectionItemImg-Artis_playlist">
                <img src="~/img/8640d841ca6413b752227781f6e9d8c3.jpg" alt="item" />
            </div>
            <div class="SectionItemIcon"></div>
            <div class="SectionItemTextArt">
                <h3 class="SectionItemTextName">Nguyễn Văn Kiên</h3>
                <div class="SectionItemTextDes">
                    <a href="#" class="SectionItemTextDesLink">Artis</a>
                </div>
            </div>
        </div>
        <div class="SectionItem">
            <div class="SectionItemImg-Artis_playlist">
                <img src="~/img/8640d841ca6413b752227781f6e9d8c3.jpg" alt="item" />
            </div>
            <div class="SectionItemIcon"></div>
            <div class="SectionItemTextArt">
                <h3 class="SectionItemTextName">Nguyễn Văn Kiên</h3>
                <div class="SectionItemTextDes">
                    <a href="#" class="SectionItemTextDesLink">Artis</a>
                </div>
            </div>
        </div>
        <div class="SectionItem">
            <div class="SectionItemImg-Artis_playlist">
                <img src="~/img/8640d841ca6413b752227781f6e9d8c3.jpg" alt="item" />
            </div>
            <div class="SectionItemIcon"></div>
            <div class="SectionItemTextArt">
                <h3 class="SectionItemTextName">Nguyễn Văn Kiên</h3>
                <div class="SectionItemTextDes">
                    <a href="#" class="SectionItemTextDesLink">Artis</a>
                </div>
            </div>
        </div>
        <div class="SectionItem">
            <div class="SectionItemImg-Artis_playlist">
                <img src="~/img/8640d841ca6413b752227781f6e9d8c3.jpg" alt="item" />
            </div>
            <div class="SectionItemIcon"></div>
            <div class="SectionItemTextArt">
                <h3 class="SectionItemTextName">Nguyễn Văn Kiên</h3>
                <div class="SectionItemTextDes">
                    <a href="#" class="SectionItemTextDesLink">Artis</a>
                </div>
            </div>
        </div>
        <div class="SectionItem">
            <div class="SectionItemImg-Artis_playlist">
                <img src="~/img/8640d841ca6413b752227781f6e9d8c3.jpg" alt="item" />
            </div>
            <div class="SectionItemIcon"></div>
            <div class="SectionItemTextArt">
                <h3 class="SectionItemTextName">Nguyễn Văn Kiên</h3>
                <div class="SectionItemTextDes">
                    <a href="#" class="SectionItemTextDesLink">Artis</a>
                </div>
            </div>
        </div>
        <div class="SectionItem">
            <div class="SectionItemImg-Artis_playlist">
                <img src="~/img/8640d841ca6413b752227781f6e9d8c3.jpg" alt="item" />
            </div>
            <div class="SectionItemIcon"></div>
            <div class="SectionItemTextArt">
                <h3 class="SectionItemTextName">Nguyễn Văn Kiên</h3>
                <div class="SectionItemTextDes">
                    <a href="#" class="SectionItemTextDesLink">Artis</a>
                </div>
            </div>
        </div>
        <div class="SectionItem">
            <div class="SectionItemImg-Artis_playlist">
                <img src="~/img/8640d841ca6413b752227781f6e9d8c3.jpg" alt="item" />
            </div>
            <div class="SectionItemIcon"></div>
            <div class="SectionItemTextArt">
                <h3 class="SectionItemTextName">Nguyễn Văn Kiên</h3>
                <div class="SectionItemTextDes">
                    <a href="#" class="SectionItemTextDesLink">Artis</a>
                </div>
            </div>
        </div>











    </div>
