@model List<Test1.Models.Songs>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="divwrapperGallery">
    <div class="wrapperGallery">
        <div class="divBtn divBtnPrev">
            <button class="galleryBtn btnPrev">
                <i class="fa-duotone fa-solid fa-angle-left"></i>
            </button>
        </div>
        <div class="gallery">
            <div class="gallerContainer">
                <div class="gallerryItem">
                    <a href="#" class="gallerryLink">
                        <img src="~/img/maxresdefault (1).jpg" alt="" class="gallrryImg">
                    </a>
                </div>
                <div class="gallerryItem">
                    <a href="#" class="gallerryLink">
                        <img src="../img/maxresdefault.jpg" alt="" class="gallrryImg">
                    </a>
                </div>
                <div class="gallerryItem">
                    <a href="#" class="gallerryLink">
                        <img src="../img/1200x630mv.jpg" alt="" class="gallrryImg">
                    </a>
                </div>
            </div>
            <div class="gallerContainer">
                <div class="gallerryItem">
                    <a href="#" class="gallerryLink">
                        <img src="../img/909edb5e516afbcd5b007d19ecfd5897.jpg" alt="" class="gallrryImg">
                    </a>
                </div>
                <div class="gallerryItem">
                    <a href="#" class="gallerryLink">
                        <img src="../img/e386c677318bdaeadeac1484bdd2416b.jpg" alt="" class="gallrryImg">
                    </a>
                </div>
                <div class="gallerryItem">
                    <a href="#" class="gallerryLink">
                        <img src="../img/lirik-lagu-chord-gitar-dan-terjemahan-tabun-dari-yoasobi-yang-viral-di-tiktok-VxU8geRisu.jpg" alt="" class="gallrryImg">
                    </a>
                </div>
            </div>

        </div>
        <div class="divBtn divBtnNext">
            <button class="galleryBtn btnNext"><i class="fa-duotone fa-solid fa-angle-right"></i></button>
        </div>
    </div>
</div>
<div class="wrapperListMusic">
    <div class="desListMusic">
        <h3 class="sub">Bắt đàu nghe từ 1 bài hát</h3>
        <h3 class="title">Mới tải lên gần đây</h3>
    </div>
    <div class="divListMusic">
        <ul class="listMusic">
            <li class="songItem songIndex">
                <div class="songItemLeft">
                    <div class="songLeftLogo">
                        <img class="songLeftLogoImg" src="../img/eb09796ce509ca03e7a62151fea73d50.jpg" />
                    </div>
                    <div class="songLeftText">
                        <span class="lName">ƯNG QUÁ TRỪNG</span>
                        <a class="lArtis" href="#">AMEE</a>
                    </div>
                </div>
                <div class="songItemCenter">
                    <div class="songCenterAlbum">
                        <a class="songCenterAlbumLink" href="#">Ưng Quá Trừng</a>
                    </div>
                </div>
                <div class="songItemRight">
                    <div class="songTime">
                        <span>03.53</span>
                    </div>
                </div>
            </li>
            <li class="songItem songIndex">
                <div class="songItemLeft">
                    <div class="songLeftLogo">
                        <img class="songLeftLogoImg" src="../img/eb09796ce509ca03e7a62151fea73d50.jpg" />
                    </div>
                    <div class="songLeftText">
                        <span class="lName">ƯNG QUÁ TRỪNG</span>
                        <a class="lArtis" href="#">AMEE</a>
                    </div>
                </div>
                <div class="songItemCenter">
                    <div class="songCenterAlbum">
                        <a class="songCenterAlbumLink" href="#">Ưng Quá Trừng</a>
                    </div>
                </div>
                <div class="songItemRight">
                    <div class="songTime">
                        <span>03.53</span>
                    </div>
                </div>
            </li>
            <li class="songItem songIndex">
                <div class="songItemLeft">
                    <div class="songLeftLogo">
                        <img class="songLeftLogoImg" src="../img/eb09796ce509ca03e7a62151fea73d50.jpg" />
                    </div>
                    <div class="songLeftText">
                        <span class="lName">ƯNG QUÁ TRỪNG</span>
                        <a class="lArtis" href="#">AMEE</a>
                    </div>
                </div>
                <div class="songItemCenter">
                    <div class="songCenterAlbum">
                        <a class="songCenterAlbumLink" href="#">Ưng Quá Trừng</a>
                    </div>
                </div>
                <div class="songItemRight">
                    <div class="songTime">
                        <span>03.53</span>
                    </div>
                </div>
            </li>
            <li class="songItem songIndex">
                <div class="songItemLeft">
                    <div class="songLeftLogo">
                        <img class="songLeftLogoImg" src="../img/eb09796ce509ca03e7a62151fea73d50.jpg" />
                    </div>
                    <div class="songLeftText">
                        <span class="lName">ƯNG QUÁ TRỪNG</span>
                        <a class="lArtis" href="#">AMEE</a>
                    </div>
                </div>
                <div class="songItemCenter">
                    <div class="songCenterAlbum">
                        <a class="songCenterAlbumLink" href="#">Ưng Quá Trừng</a>
                    </div>
                </div>
                <div class="songItemRight">
                    <div class="songTime">
                        <span>03.53</span>
                    </div>
                </div>
            </li>
            <li class="songItem songIndex">
                <div class="songItemLeft">
                    <div class="songLeftLogo">
                        <img class="songLeftLogoImg" src="../img/eb09796ce509ca03e7a62151fea73d50.jpg" />
                    </div>
                    <div class="songLeftText">
                        <span class="lName">ƯNG QUÁ TRỪNG</span>
                        <a class="lArtis" href="#">AMEE</a>
                    </div>
                </div>
                <div class="songItemCenter">
                    <div class="songCenterAlbum">
                        <a class="songCenterAlbumLink" href="#">Ưng Quá Trừng</a>
                    </div>
                </div>
                <div class="songItemRight">
                    <div class="songTime">
                        <span>03.53</span>
                    </div>
                </div>
            </li>
            <li class="songItem songIndex">
                <div class="songItemLeft">
                    <div class="songLeftLogo">
                        <img class="songLeftLogoImg" src="../img/eb09796ce509ca03e7a62151fea73d50.jpg" />
                    </div>
                    <div class="songLeftText">
                        <span class="lName">ƯNG QUÁ TRỪNG</span>
                        <a class="lArtis" href="#">AMEE</a>
                    </div>
                </div>
                <div class="songItemCenter">
                    <div class="songCenterAlbum">
                        <a class="songCenterAlbumLink" href="#">Ưng Quá Trừng</a>
                    </div>
                </div>
                <div class="songItemRight">
                    <div class="songTime">
                        <span>03.53</span>
                    </div>
                </div>
            </li>
            <li class="songItem songIndex">
                <div class="songItemLeft">
                    <div class="songLeftLogo">
                        <img class="songLeftLogoImg" src="../img/eb09796ce509ca03e7a62151fea73d50.jpg" />
                    </div>
                    <div class="songLeftText">
                        <span class="lName">ƯNG QUÁ TRỪNG</span>
                        <a class="lArtis" href="#">AMEE</a>
                    </div>
                </div>
                <div class="songItemCenter">
                    <div class="songCenterAlbum">
                        <a class="songCenterAlbumLink" href="#">Ưng Quá Trừng</a>
                    </div>
                </div>
                <div class="songItemRight">
                    <div class="songTime">
                        <span>03.53</span>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>
